/*variabel*/
:root{
	--pr-color: #FF9933;
}

body{
	font-family: 'Poppins', sans-serif;
	background-color: #262626;
}

/*Halaman 1*/
.navbar-brand{
	margin-top: -20px;
}

.nav-link{
	font-size: 14px;
	margin-top: 5px;
}

.nav-link.active{
	font-weight: 700;
}

/*==============*/

#about{
	background-image: url('../img/image.png');
	height: 593px;
	background-repeat: no-repeat;
	background-position: center;
	padding: 100px;
	padding-top: 120px;
}

.card-about{
	background:rgba(154, 118, 118, 0.26);
	width: 408px;
	height: 342px;
	border-radius: 25px;
	padding: 30px;
	text-align: center;
	/*background-position: center;*/
}

.t1{
	color: white;
	font-weight: 600;
}

span{
	color: var(--pr-color) ;
}

.t2{
	color: white;
	font-weight: 600;
	margin-top: 20px;
}

.btn1{
	background-color:var(--pr-color);
	color: white;
	width: 249px;
	height: 50px;
	font-weight: 600;
	border: none;
	font-size: 18px;
	margin-top: 20px;
	border-radius: 7px;
	/*margin-left: 60px;*/
}


/*.rectangle{
	margin-top: -630px;
	margin-left: 110px;
}

/*.t1{
	color: white;
	font-weight: 600;
	text-align: center;
	margin-top: -450px;
	margin-right: 640px;
}
*/
/*span{
	color: var(--pr-color) ;
}*/

/*.t2{
	color: white;
	font-weight: 600;
	text-align: center;
	margin-right: 640px;
}*/

/*.btn1{
	background-color:var(--pr-color);
	color: white;
	text-decoration: none;
	width: 249px;
	height: 50px;
	font-weight: 600;
	border: none;
	font-size: 18px;
	margin-left: 185px;
	margin-top: 20px;
	border-radius: 7px;
}
*/


/*Halaman 2*/
.t3{
	color: white;
}

.t4{
	font-weight: 600px;
	font-size: 48px;
}

.t3 p{
	font-size: 24px;
}

#layanan{
	padding: 20px;
	margin-top: 130px;
	margin-left: 50px;
}

.card-layanan{
	width: 280px;
	height: 318px;
	border-radius: 10px;
	background-color: white;
	padding: 40px;

	transition: all .2s ease-in;
}

.circle-icon{
	width: 100px;
	height: 100px;
	background-color: var(--pr-color);
	border-radius: 50%;
}

.card-layanan h3{
	font-weight: 600;
	font-size: 24px;

	transition: all .2s ease-in;
}

.card-layanan p{
	font-size: 12px;

	transition: all .3s ease-in;
}


	/*Hover*/

.card-layanan:hover {
	width: 280px;
	height: 318px;
	border-radius: 10px;
	background-color: var(--pr-color);
	padding: 40px;

	transition: all .2s ease-in;
}

.card-layanan:hover h3{
	font-weight: 600;
	font-size: 24px;
	color: white;

	transition: all .2s ease-in;
}

.card-layanan:hover p{
	font-size: 12px;
	color: white;

	transition: all .3s ease-in;
}


/*Best seller*/
.t5{
	text-align: center;
	font-weight: 600px;
	font-size: 48px;
	margin-top: 120px;
}

.card img{
	height: 15rem;
}

.card{
	height: 28rem;
}



/*Halaman pertanyaan*/
#contact{
	background-image: url('../img/background_.png');
	/*background-repeat: no-repeat;*/
	margin-top: 150px;
	padding: 80px 0px 0px 50px ;
	/*atas148 kanan kiri0 bawah148px*/
	background-size:cover;
	height: 600px;
}

input::placeholder{
	color: white;
}